POSTGRES_CONNECTION_STRING=postgresql://postgres.uxhwxmryttufvlopsclf:Fzm3F7dbtW08MQIo@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_ACCESS_SECRET=todolist_access_secret_key_2026
JWT_REFRESH_SECRET=todolist_refresh_secret_key_2026
CORS_ORIGIN=https://miracle-todolist-fe.vercel.app